CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
#Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
_CPack_Packages/

*.exe

build*/
lib/
Debug/
Release/
*.a
*.lib
*.map
nmc4vars_win.mk
*.abs
*.7z

make_*/
.vs/
.vscode/
